.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}
.home-frame43-home06 {
  width: 100%;
  /*min-height: 1024px;*/
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(217, 182, 139, 1);
}
/*.home-page-next {*/
/*  top: 449px;*/
/*  right: 114px;*/
/*  position: absolute;*/
/*}*/
.home-text {
  top: 462px;
  left: 579px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/*.home-page-back {*/
/*  top: 449px;*/
/*  left: 341px;*/
/*  position: absolute;*/
/*}*/

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2vw;
  z-index: 10;
}

.green-arrow {
  right: 8%;
  color: green;
}
.red-arrow {
  left: 23%;
  color: red;
}
.green-arrow:hover {
  cursor: pointer;
  color: darkgreen;
}
.red-arrow:hover {
  cursor: pointer;
  color: darkred;
}