.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
}
.home-frame43-home06 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(217, 182, 139, 1);
}

.home-page-next {
  top: 449px;
  right: 114px;
  position: absolute;
}
.home-button-shake-it-placeholder {
  top: 103px;
  right: 129px;
  width: 68px;
  height: 68px;
  position: absolute;
}
.home-text {
  top: 462px;
  left: 579px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.home-page-back {
  top: 449px;
  left: 341px;
  position: absolute;
}
.green-arrow {
  color: green;
}
.red-arrow {
  color: red;
}