.menu-container {
    width: 252px;
    height: 1087px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}
.menu-options-frame {
    left: -3px;
    width: 100%;
    bottom: -2px;
    height: 1087px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(217, 4, 22, 1);
}
.menu-frame9 {
    top: 76px;
    left: 23px;
    width: 186px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
}
.menu-frame10 {
    top: 158px;
    left: 23px;
    width: 186px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
}
.menu-frame91 {
    top: 240px;
    left: 23px;
    width: 186px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
}
.menu-frame92 {
    top: 322px;
    left: 23px;
    width: 186px;
    height: 44px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
}
